[aria-label="Pagination"] {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #505E03;
    color: white;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;
}