ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 10px 1rem gray;
  align-items: center;
  padding: 12px;
}

button {
  background-color: #6D8515;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}