ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 0 10px 1rem gray;
  align-items: center;
  padding: 12px;
  gap: 20px;
}

button {
  background-color: #505E03;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logoNavbar {
  width: 100px;
  height: auto;
}

@media screen and (min-width : 1024px) {
  .logoNavbar {
    width: 125px;
    height: auto;
  }
}