div.dataTable {
  margin: 24px 12px;
  width: auto;
}

div.rdt_TableHead {
  font-size: 18px;
}

div.rdt_TableRow {
  font-size: 16px;
}

div.rdt_TableCol {
  background-color: #6D8515;
  color: white;
}

@media screen and (min-width : 1024px) {
  div.dataTable {
    width: 700px;
    margin: 24px auto;
  }
}

@media screen and (min-width: 1440px) {
  div.dataTable {
    width: 1200px;
  }
}