form {
  margin: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #6D8515;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

@media screen and (min-width : 1024px) {
  form {
    width: 700px;
    margin: 12px auto;
  }
}
